.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Personal styles here */
.qAnswered, .isBold {
  font-weight: bold;
}

.authedUserRow {
  background-color: lightgray;
}

.app_container {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width: 375px) {
  .app_container {
    max-width: 350px;
  }
  table.leaderboard th, table.leaderboard td {
    font-size: .65em;
  }

}

@media screen and (min-width: 767px) {
  .app_container {
    max-width: 740px;
  }
}

button.disabled:hover {
  cursor: not-allowed
}

input[type=checkbox], input[type=radio], .main_tabs .nav-item a:not(.active):hover, table.leaderboard th:hover {
  cursor: pointer
}

ol.poll li:not(:first-child) {
  margin-top: 10px
}

table.leaderboard th:not(:first-child), table.leaderboard td:not(:first-child) {
  text-align: center
}

table.leaderboard th span.sorter.show {
  visibility:visible;
}

table.leaderboard th span.sorter.hide {
  visibility:hidden;
}

/* Simple styles for main page tabs */
.main_tabs .nav-item:not(:first-child) {
  margin-left:2px
}

.main_tabs .nav-item a {
  background-color:rgb(241, 241, 241);
  color: #ccc
}


.app_container .tab-pane {
  padding:20px
}
.app_container .tab-content .active {
  border: 1px solid #ccc;
  border-top: none

}
/* End tab styles */

/* avatar styles */
.user_info_nav {
  float: right;
  color: white;
  padding-left:25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.auth_avatar {
  padding-left:20px;
  background-size: contain;
  background-repeat: no-repeat;
}